body {
  background: white;
  color: black;
  font-family: content;
  font-size: 17px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
img {
  width: 150px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}
.Profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}