:root {
  --text-color: #f2f2f2;
  --main-color: #f9f9f9;
  --desc-color: #3e3e3eee;
  --footer-border-color: #4444;
  --color-dark4: #444;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-size: 16px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header {
  background-color: var(--color-dark4);
}

.footer {
  border-top: 1px solid;
  border-color: var(--footer-border-color);
}

.title {
  color: var(--main-color);
  font-weight: normal;
  font-size: 17px;
}

.footer-title {
  font-size: 12px;
  letter-spacing: 6px;
  color: var(--main-color);
  font-weight: 100;
  backdrop-filter: blur(2.5px);
}

.central {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 180px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px var(--color-dark4);
}

.name {
  color: var(--main-color);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 5px;
  cursor: default;
}

.desc {
  margin: 10px 0px;
  background-color: var(--desc-color);
  backdrop-filter: blur(5px);
  padding: 13px 10px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 3px 2.5px #0002;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.starter {
  color: var(--main-color);
  margin-left: 15px;
  margin-right: 5px;
  font-size: 22px;
}

.product-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 25px;
}

.product-img {
  height: 60px;
}

.product-name {
  text-align: center;
  font-weight: 500;
  cursor: default;
  color: var(--main-color);
  backdrop-filter: blur(5px);
}

.emoji {
  font-size: 22px;
  display: inline;
}

@media only screen and (max-width: 650px) {
  .title {
    font-weight: 16px;
  }
  .profile {
    width: 140px;
  }
  .name {
    margin-top: 0px;
    font-size: 19px;
  }
  .starter {
    font-size: 19px;
  }
  .emoji {
    font-size: 19px;
  }
  .desc {
    margin: 5px 0px;
  }
  .product {
    margin: 0px 20px;
  }
  .product-img {
    width: 55px;
  }
}