* {
  padding: 0;
  margin: 0;
}
body {
  background-color: "#f9f9f9";
  color: #181818f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header, .footer {
  width: 100%;
  height: 40px;
  background-color: rgb(81 126 252);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: transparent;
  border-top: 1px solid rgba(128, 128, 128, 0.514);
}
.title {
  color: #f8f8f8;
  font-weight: 500;
  font-size: 17px;
}
.footer-title {
  font-size: 14px;
  color: #202020ef;
}
.central {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  
}
.profile {
  width: 170px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgb(194, 194, 194);
}
.starter {
  color: #004caf;
  margin-left: 15px;
  font-size: 22px;
}
.desc {
  margin: 20px 0px;
}
.name {
  color: #039436;
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
}
.product-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 30px;
}
.product-img {
  height: 65px;
}
.product-name {
  text-align: center;
  font-weight: 500;
  cursor: default;
  color: #008093;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .title {
    font-weight: 16px;
  }
  .profile {
    width: 145px;
  }
  .name {
    font-size: 19px;
  }
  .starter {
    font-size: 19px;
  }
  .central {
    width: 95%;
  }
  .desc {
    margin: 10px 0px;
  }
}
@media only screen and (min-width: 700px) {
  .central {
    width: 85%;
  }
}
@media only screen and (min-width: 900px) {
  .central {
    width: 75%;
  }
}