:root {
  --color-blue: #0d6efd;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #d63384;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
  --color-teal: #20c997;
  --color-cyan: #0dcaf0;
  --color-white: #fff;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-info: #0dcaf0;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  /* own-color */
  --color-dark-0: #000;
  --color-dark-1: #101010;
  --color-dark-2: #202020;
  --color-dark-3: #303030;
  --color-dark-4: #404040;
  
  --color-white-f: #fff;
  --color-white-f2: #f2f2f2;
  --color-white-e: #eee;
  --color-white-d: #ddd;
  --color-white-c: #ccc;
  --color-white-b: #bbb;
  --color-white-a: #aaa;
  --color-transparent: transparent;
}

/* border */
.bc-blue {
  border-color: var(--color-blue);
}
.bc-indigo {
  border-color: var(--color-indigo);
}
.bc-purple {
  border-color: var(--color-purple);
}
.bc-pink {
  border-color: var(--color-pink);
}
.bc-red {
  border-color: var(--color-red);
}
.bc-orange {
  border-color: var(--color-orange);
}
.bc-yellow {
  border-color: var(--color-yellow);
}
.bc-green {
  border-color: var(--color-green);
}
.bc-teal {
  border-color: var(--color-teal);
}
.bc-cyan {
  border-color: var(--color-cyan);
}
.bc-white {
  border-color: var(--color-white);
}
.bc-gray {
  border-color: var(--color-gray);
}
.bc-gray-dark {
  border-color: var(--color-gray-dark);
}
.bc-gray-100 {
  border-color: var(--color-gray-100);
}
.bc-gray-200 {
  border-color: var(--color-gray-200);
}
.bc-gray-300 {
  border-color: var(--color-gray-300);
}
.bc-gray-400 {
  border-color: var(--color-gray-400);
}
.bc-gray-500 {
  border-color: var(--color-gray-500);
}
.bc-gray-600 {
  border-color: var(--color-gray-600);
}
.bc-gray-700 {
  border-color: var(--color-gray-700);
}
.bc-gray-800 {
  border-color: var(--color-gray-800);
}
.bc-gray-900 {
  border-color: var(--color-gray-900);
}
.bc-primary {
  border-color: var(--color-primary);
}
.bc-secondary {
  border-color: var(--color-secondary);
}
.bc-success {
  border-color: var(--color-success);
}
.bc-info {
  border-color: var(--color-info);
}
.bc-warning {
  border-color: var(--color-warning);
}
.bc-danger {
  border-color: var(--color-danger);
}
.bc-light {
  border-color: var(--color-light);
}
.bc-dark {
  border-color: var(--color-dark);
}
.bc-tran {
  border-color: var(--color-transparent);
}

/* color */
.c-black {
  color: black;
}
.c-blue {
  color: var(--color-blue);
}
.c-indigo {
  color: var(--color-indigo)
}
.c-purple {
  color: var(--color-purple)
}
.c-pink {
  color: var(--color-pink)
}
.c-red {
  color: var(--color-red)
}
.c-orange {
  color: var(--color-orange)
}
.c-yellow {
  color: var(--color-yellow)
}
.c-green {
  color: var(--color-green)
}
.c-teal {
  color: var(--color-teal)
}
.c-cyan {
  color: var(--color-cyan)
}
.c-white {
  color: var(--color-white)
}
.c-gray {
  color: var(--color-gray)
}
.c-gray-dark {
  color: var(--color-gray-dark)
}
.c-gray-100 {
  color: var(--color-gray-100)
}
.c-gray-200 {
  color: var(--color-gray-200)
}
.c-gray-300 {
  color: var(--color-gray-300)
}
.c-gray-400 {
  color: var(--color-gray-400)
}
.c-gray-500 {
  color: var(--color-gray-500)
}
.c-gray-600 {
  color: var(--color-gray-600)
}
.c-gray-700 {
  color: var(--color-gray-700)
}
.c-gray-800 {
  color: var(--color-gray-800)
}
.c-gray-900 {
  color: var(--color-gray-900)
}
.c-primary {
  color: var(--color-primary)
}
.c-secondary {
  color: var(--color-secondary)
}
.c-success {
  color: var(--color-success)
}
.c-info {
  color: var(--color-info)
}
.c-warning {
  color: var(--color-warning)
}
.c-danger {
  color: var(--color-danger)
}
.c-light {
  color: var(--color-light)
}
.c-dark {
  color: var(--color-dark)
}
.c-tran {
  color: var(--color-transparent);
}

/* background-color */
.bgc-blue {
  background-color: var(--color-blue);
}
.bgc-indigo {
  background-color: var(--color-indigo);
}
.bgc-purple {
  background-color: var(--color-purple);
}
.bgc-pink {
  background-color: var(--color-pink);
}
.bgc-red {
  background-color: var(--color-red);
}
.bgc-orange {
  background-color: var(--color-orange);
}
.bgc-yellow {
  background-color: var(--color-yellow);
}
.bgc-green {
  background-color: var(--color-green);
}
.bgc-teal {
  background-color: var(--color-teal);
}
.bgc-cyan {
  background-color: var(--color-cyan);
}
.bgc-white {
  background-color: var(--color-white);
}
.bgc-gray {
  background-color: var(--color-gray);
}
.bgc-gray-dark {
  background-color: var(--color-gray-dark);
}
.bgc-gray-100 {
  background-color: var(--color-gray-100);
}
.bgc-gray-200 {
  background-color: var(--color-gray-200);
}
.bgc-gray-300 {
  background-color: var(--color-gray-300);
}
.bgc-gray-400 {
  background-color: var(--color-gray-400);
}
.bgc-gray-500 {
  background-color: var(--color-gray-500);
}
.bgc-gray-600 {
  background-color: var(--color-gray-600);
}
.bgc-gray-700 {
  background-color: var(--color-gray-700);
}
.bgc-gray-800 {
  background-color: var(--color-gray-800);
}
.bgc-gray-900 {
  background-color: var(--color-gray-900);
}
.bgc-primary {
  background-color: var(--color-primary);
}
.bgc-secondary {
  background-color: var(--color-secondary);
}
.bgc-success {
  background-color: var(--color-success);
}
.bgc-info {
  background-color: var(--color-info);
}
.bgc-warning {
  background-color: var(--color-warning);
}
.bgc-danger {
  background-color: var(--color-danger);
}
.bgc-light {
  background-color: var(--color-light);
}
.bgc-dark {
  background-color: var(--color-dark);
}
.bgc-tran {
  background-color: var(--color-transparent);
}