.flex {
  display: flex;
}
.fd-r {
  flex-direction: row;
}

.fd-c {
  flex-direction: column;
}

.jc-s {
  justify-content: start;
}

.jc-e {
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-se {
  justify-content: space-evenly;
}

/* align items */
.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: stretch;
}

/* align self */
.as-fs {
  align-self: flex-start;
}

.as-fe {
  align-self: flex-end;
}

.as-c {
  align-self: center;
}

.as-s {
  align-self: stretch;
}

/* box */
.box {
  position: relative;
  overflow: hidden;
}

.box > * {
  position: absolute;
}

.to-tl {
  top: 0px;
  left: 0px;
}

.to-tr {
  top: 0px;
  right: 0px;
}

.to-tc {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.to-bl {
  bottom: 0px;
  left: 0px;
}

.to-br {
  bottom: 0px;
  right: 0px;
}

.to-bc {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.to-lc {
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
}

.to-rc {
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
}

.to-c {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}